<div class="dashboard">
  <div class="container">

    <h1>
      <span class="first-color">My Dashboard</span>
    </h1>

    <p>Track your dogs tricks progress and have fun learning with your dog!</p>
    <p>Tick off tricks as your dog completes them</p>

    <h3> 
      <span class="first-color">Paw</span><span class="second-color">tastic</span>
      <span class="third-color">Tricks!</span>
    </h3>

    <%= form_with url: save_tricks_path, method: :post do %>
      <table>
        <thead>
          <tr>
            <th class="first_column">Trick</th>
            <th>Complete</th>
          </tr>
        </thead>

        <tbody>
          <% @tricks.each do |trick| %>
            <tr>
              <td class="first_column">
                <%= trick.name %>
              </td>
              <td>           
                <%= hidden_field_tag "tricks[#{trick.id}][complete]", "0" %>
                <%= check_box_tag "tricks[#{trick.id}][complete]", "1", trick.complete %>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <%= submit_tag "Save Progress", class: "form-btn" %>
    <% end %>
  </div>
</div>
